doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Mortal Kombat
    link(rel='stylesheet', href='/style.css')
  body
    button#fight Fight!
    #fighters
    #weapons
    audio#music
    audio#effects
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.js')
    script(src='/main.js')
    script(src='/models/weapon.js')
    script(src='/models/fighter.js')
